.mainItemContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    text-align: center;
    background-color: #56159248;
    width: 50vw;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

.mainItemContainer:hover{
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

@media (max-width: 576px){
    .mainItemContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }
}