.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.main_ex_chart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}