form{
    display: flex;
    gap: 10px;
}

input{
    height: 33px;
    width: 200px;
    margin-top: 20px;
}

button{
    height: 33px;
    margin-top: 20px;
    width: 70px
}

label {
    display: flex;
    margin-right: 10px;
    margin-top: 30px;
    justify-content: center;
}

